html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.width100 {
    width: 100% !important;
}

.footer,
.push {
    height: 50px;
}

#intro-panel, .card-panel {
    box-shadow: none !important;
    border: 1px solid #e0e0e0;
}

iframe {
    border:none;
    height:calc(100vh - 100px);
    width: 100%;
    margin-top:10px;

}


