BODY {font-family: Verdana, Arial, Helvetica; font-size: 10pt; font-color: #ffffff; background-color: #000000}

a:hover {color: #ff0000}

a {text-decoration: none; font-weight: bold; color: #C31C1C}






